<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Abdibogoreh</title>
<meta name="description" content="computer Science"/>
<meta name="keywords" content="hAngular JS"/>
<meta name="author" content="abdibogoreh"/>
<meta name="viewport" content="width=device-width, user-scalable=no">
<script src="angularjs-master/angularjs-master/src/resources/js/angularjstutorial-deps.js"></script>
<script src="angularjs-master/angularjs-master/src/resources/js/angularjstutorial.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="abdi.jpg"/>
<link rel="stylesheet" type="text/css" href="angularjs-master/angularjs-master/src/resources/css/angularjstutorial.css"/>
</head>
<body>

		   <div class="mainContainer" data-ng-app="">
		   	<h1>AngularJS tutorial - Binding </h1>

		   	<input type="text" data-ng-model="data-label">

		   	<input type="text" data-ng-model="data.class">

		   		<button class="btn btn-default">{{data.label}}</button>
		   </div>

</body>
</html> 

