/*
   Author: Abdibogoreh;
   tutorial 5
*/
html, body{
	 padding: 0;
	 margin: 0;
	 width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Part 7: Floats and Footers */
.left {
	   float: left;
}

.right {
	  float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

#main {
	  width: 720px;
	  margin: 20px auto;
	  padding: 12px;
	  background: #ccc;
	  text-align: center;
	  border-radius: 5px;
	  -moz-box-shadow: 2px 5px 5px #888;
	  box-shadow: 2px 5px 5px #888;
	  background: #eb1ff6;
	  background: -webkit-gradient(linear, left top, left bottom, from(#f3f4f5), to(#dadada));
	  background: -moz-linear-gradient(top, #f3f4f5, #dadada);
	  
}